<div class="introduction">
    <h2>Welcome to my CRUD Single Page Application!</h2>
    <p>This is a admin panel made with Node, Express, and Postgres. </p>
    <p>This CRUD app used a PostgreSQL table to hold 50 students with random first names, last names, genders, and gpas sourced by mocakroo.com</p>
    <p>This also is a Single Page Application which I think is a little more difficult than apps with traditional routing.</p>
    <p>Clicking the Students link on the left sidebar will show you a queried list of students from the PostgreSQL database with</p>
    <p>options to edit or delete each individual student, as well as an option to create a new student.</p>
    <p>I tried to implement RESTful API's to perform CRUD operations on the database, but they ended up not very RESTful because I'm still</p>
    <p>a little confused on asynchronous queries in RESTful APIs, if I didn't have to ping a database I think I could manage.</p>
</div>