        <div class="sub-header">
            <h1>Update Student</h1>
        </div>       
        <form name="updateUser" method="POST" action="/students/update"  >
        <table class="styled-table">
            <tr>
            <td>First Name</td>
            <td><input type="text" name="first_name" ></td>
            </tr>
            <tr>
            <td>Last Name</td>
            <td><input type="text" name="last_name" ></td>
            </tr>
            <tr>
            <td>Gender</td>
            <td><input type="text" name="gender" ></td>
            </tr>
            <tr>
            <td>GPA</td>
            <td><input type="text" name="gpa" ></td>
            </tr>
            <tr>
            <td colspan="2"><input type = "submit" value="Save"></td>
            </tr>
        </table>
        </form>
