<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CRUD Administrator Panel</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />


      
       
    </head>
    <body>

        <div class="header">
        <h1>Mock School Administrator Panel</h1>
        </div>
        <nav class = "sidebar">
        <a href="/" class="nav__link" data-link>Home</a>
        <a href="/students" class="nav__link" data-link>Students</a>
        
        </nav>

        <%- body %>

        
    </body>

</html>